.header {
    background-color: #f9f9f9;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .05);
    height: 50px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 99;
}

.header .left {
    width: 220px;
    text-align: center;
    line-height: 50px;
}

.header .left img {
    height: 40px;
}

.header .center {
    flex: 1;
}

.header .right {
    width: 400px;
}
