.nav {
    width: 220px;
    position: fixed;
    height: 100%;
    overflow: hidden;
    margin-top: 50px;
    background-color: #f9f9f9;
    z-index: 98;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .05);
}

.nav .top {
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #fff;
}

.nav .center .items {
    color: #98a6ad;
}

.nav .sub-text {
    color: #98a6ad;
}

.nav .item {
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    font-size: 15px;
    color: #98a6ad;
}

.nav .item span {
    overflow: hidden;
}

.nav .item .iconfont {
    font-size: 16px;
    margin-right: 10px;
    width: 20px;
    display: inline-block;
}

.nav .item:hover {
    background: #eee;
}


.nav .bottom {
    position: absolute;
    bottom: 50px;
    left: 0;
    height: 50px;
    width: 100%;
    background: #fff;
}

.nav .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .bottom > div {
    flex: 1;
    text-align: center;
    font-size: 12px;
}